# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore virtual environment folders
venv/
.env/

# Ignore log files
*.log

# Ignore model files
models/*.pkl
time_series_project/models/*.pkl
test_splits/*.csv
Testing.ipynb
# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/
*.docx